.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.card-header {
  background-color: #5186c9;
  color: white;
  padding: 12px 20px;
}

.card-container {
  width: 80%;
  padding: 12px 20px;
  gap: 20px;
}

.create-button {
  background-color: #5186c9;
}
